body
{
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    background-color: #ddcc95;
}

header
{
    background-color: rgb(153, 7, 7);
    color: #fff;
    padding: 20px;
}

h1 {
    margin: 0;
    margin-left: 0.5rem;
}

button{
    display: none;
}

nav ul {
    list-style-type: none;
    display: flex ;
    padding: 0;
    margin: 0;
}

nav li {
    margin-right: 10px;
}

nav a {
    color: #e7ba25;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s;
    display: block;
    border-radius: 0.5rem;
}

nav a:hover{
    background-color: rgba(253, 195, 34, 0.322);
}



@media screen and (max-width: 600px) {
    header {
        text-align: center;
    }

    nav{
        display: none;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }

    nav a {
        display: block;
    }

    button{
        display: block;
        background: none;
        margin: auto;
    }
    
    span{
        color: white;
        cursor: pointer;
    }

    button:focus ~ nav{
        display: block;
    }    

    main{
        width: 90vw;
    }
    
}