body
{
    font-family: 'Roboto Mono', monospace;
    background-color: #b8b7b79c;
}

header
{
    display: flex;
    background-color: rgb(5, 5, 5);
    color: #fff;
    padding: 1.5rem;
    border-radius: 1.5rem;
    align-items: center;
}

.titulo {
    margin-left: 5%;
    font-size: 2.5rem;
}

button{
    display: none;
}

.menu{
    margin-left: 50%;
}

nav ul {
    list-style-type: none;
    display: flex ;
}

nav li {
    margin-right: 2%;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s;
    display: flex;
    border-radius: 0.5rem;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.322);
}



@media screen and (max-width: 600px) {
    header {
        text-align: center;
        display: block;
    }

    nav{
        display: none;
    }

    nav ul {
        align-items: center;
        flex-direction: column;
    }

    nav li {
        margin: 10px;
        padding-right: 240px;
    }

    nav a {
        display: block;
        width: 20rem;
    }

    button{
        display: block;
        background: none;
        margin: auto;
    }
    
    span{
        color: white;
        cursor: pointer;
    }

    button:focus ~ nav{
        display: block;
    }    

    main{
        width: 90vw;
    }
    
}